<a href="https://colab.research.google.com/github/thanadolch/data_viz/blob/main/Function_Loop_condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Function

Function template
ทำหน้าที่รับ input มาประมวลผลออกมาเป็น output
f(x)=y

def คือการกำหนดฟังก์ชัน

```
def function_name(_input_) :
    do_something with _input_to get _output_
    return _output_
```
back tick (`) => กดค้าง, alt + 96<br>
tilde (~)<br>
curly bracket ({ })<br>
square bracket ([ ])<br>

ตัวอย่างการเขียน nornal function

In [1]:
def print_name(name1,surname1,ID1):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    return st

In [2]:
print_name('ธนดล','ชัยเนตร','613020240-5')

'ชื่อ ธนดล นามสกุล ชัยเนตร รหัส 613020240-5'

In [3]:
print(print_name('ธนดล','ชัยเนตร','613020240-5'))

ชื่อ ธนดล นามสกุล ชัยเนตร รหัส 613020240-5

เว้นวรรคเพื่อบอกขอบเขตของโปรแกรม

ฟังก์ชั้นไม่จำเป็นต้องมี output

In [4]:
def print_name2(name1,surname1,ID1):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)

In [5]:
print_name2('ธนดล','ชัยเนตร','613020240-5')

ชื่อ ธนดล นามสกุล ชัยเนตร รหัส 613020240-5

ฟังก์ชันไม่จำเป็นต้องมีinput

In [6]:
def Pi(): 
    return 3.14159265359

In [7]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ 2

12.56637061436

เราสามารถกำหนดค่า default ให้กับฟังก์ชันได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่(มีค่า default) เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [8]:
def print_2line(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st1 = f'Grade Data Viz >>> {grade}'
    print (st1)

In [9]:
print_2line('ธนดล','ชัยเนตร','613020240-5','A')

ชื่อ ธนดล นามสกุล ชัยเนตร รหัส 613020240-5
Grade Data Viz >>> A

#Loop การวนซ้ำ

for เป็นคำสั่งที่ใช้บอก python ว่าเรากำลังเขียน loop โดย for จะดึงสมาชิก



```
for each_member in listA :
    do_something
```

In [10]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

คำนวณระยะเวลาต่อไปนี้โดยใช้ function และ loop

12:30:15

13:41:07

12:53:15

00:59:25

11:11:11

16:06:09

In [13]:
one = '12:30:15'
two = '13:41:07'
three = '12:53:15'
four = '00:59:25'
five = '11:11:11'
six = '16:06:09'
list_g = []
list_g.append(one)
list_g.append(two)
list_g.append(three)
list_g.append(four)
list_g.append(five)
list_g.append(six)
list_g

['12:30:15', '13:41:07', '12:53:15', '00:59:25', '11:11:11', '16:06:09']

In [17]:
for i in list_g:
    DT = i.split(':')
    onep = int(DT[0])*3600
    oneo = int(DT[1])*60
    oney = int(DT[2])
    intri = onep+oneo+oney
    print(intri)

45015
49267
46395
3565
40271
57969