<a href="https://colab.research.google.com/github/thanadolch/data_viz/blob/main/Function_Loop_condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Function

Function template
ทำหน้าที่รับ input มาประมวลผลออกมาเป็น output
f(x)=y

def คือการกำหนดฟังก์ชัน

```
def function_name(_input_) :
    do_something with _input_to get _output_
    return _output_
```
back tick (`) => กดค้าง, alt + 96<br>
tilde (~)<br>
curly bracket ({ })<br>
square bracket ([ ])<br>

ตัวอย่างการเขียน nornal function

In [1]:
def print_name(name1,surname1,ID1):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    return st

In [2]:
print_name('ธนดล','ชัยเนตร','613020240-5')

'ชื่อ ธนดล นามสกุล ชัยเนตร รหัส 613020240-5'

In [3]:
print(print_name('ธนดล','ชัยเนตร','613020240-5'))

ชื่อ ธนดล นามสกุล ชัยเนตร รหัส 613020240-5

เว้นวรรคเพื่อบอกขอบเขตของโปรแกรม

ฟังก์ชั้นไม่จำเป็นต้องมี output

In [4]:
def print_name2(name1,surname1,ID1):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)

In [5]:
print_name2('ธนดล','ชัยเนตร','613020240-5')

ชื่อ ธนดล นามสกุล ชัยเนตร รหัส 613020240-5

ฟังก์ชันไม่จำเป็นต้องมีinput

In [6]:
def Pi(): 
    return 3.14159265359

In [7]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ 2

12.56637061436

เราสามารถกำหนดค่า default ให้กับฟังก์ชันได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่(มีค่า default) เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [8]:
def print_2line(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st1 = f'Grade Data Viz >>> {grade}'
    print (st1)

In [9]:
print_2line('ธนดล','ชัยเนตร','613020240-5','A')

ชื่อ ธนดล นามสกุล ชัยเนตร รหัส 613020240-5
Grade Data Viz >>> A

#Loop การวนซ้ำ

for เป็นคำสั่งที่ใช้บอก python ว่าเรากำลังเขียน loop โดย for จะดึงสมาชิก



```
for each_member in listA :
    do_something
```

In [10]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

คำนวณระยะเวลาต่อไปนี้โดยใช้ function และ loop

12:30:15

13:41:07

12:53:15

00:59:25

11:11:11

16:06:09

In [11]:
one = '12:30:15'
two = '13:41:07'
three = '12:53:15'
four = '00:59:25'
five = '11:11:11'
six = '16:06:09'
list_g = []
list_g.append(one)
list_g.append(two)
list_g.append(three)
list_g.append(four)
list_g.append(five)
list_g.append(six)
list_g

['12:30:15', '13:41:07', '12:53:15', '00:59:25', '11:11:11', '16:06:09']

In [12]:
for i in list_g:
    DT = i.split(':')
    onep = int(DT[0])*3600
    oneo = int(DT[1])*60
    oney = int(DT[2])
    intri = onep+oneo+oney
    print(intri)

45015
49267
46395
3565
40271
57969

In [13]:
def yui(i):
    DT = i.split(':')
    onep = int(DT[0])*3600
    oneo = int(DT[1])*60
    oney = int(DT[2])
    intri = onep+oneo+oney
    return intri

In [14]:
for i in list_g:
    print(yui(i))

45015
49267
46395
3565
40271
57969

In [15]:
for i in 'thanadol':
    print(f'{i}->/' ,end = '')

t->/h->/a->/n->/a->/d->/o->/l->/

In [16]:
range5_output = range(5)

In [17]:
print(range5_output)

range(0, 5)

In [18]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [19]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
list(range(-3,30,4))

[-3, 1, 5, 9, 13, 17, 21, 25, 29]

In [21]:
for i in range(2,5):
    for j in range(1,13):
        print(i ,'x', j, '=' ,i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48

In [22]:
def print_feeling(I,friends,feeling='คิดถึง'):
    for friend in friends:
        print(f'{I} {feeling} {friend}')

In [23]:
list_friend = ['สมหญิง','สมชาย','สมทรง','สมหวัง','สมใจ']

In [24]:
print_feeling('สมศักดิ์',list_friend)

สมศักดิ์ คิดถึง สมหญิง
สมศักดิ์ คิดถึง สมชาย
สมศักดิ์ คิดถึง สมทรง
สมศักดิ์ คิดถึง สมหวัง
สมศักดิ์ คิดถึง สมใจ

In [25]:
for i in list_friend:
    for j in list_friend:
        if i != j:#ไม่ปริ้นชื่อเเดียวกันซ้ำ
            print(f'{i} รัก {j}')

สมหญิง รัก สมชาย
สมหญิง รัก สมทรง
สมหญิง รัก สมหวัง
สมหญิง รัก สมใจ
สมชาย รัก สมหญิง
สมชาย รัก สมทรง
สมชาย รัก สมหวัง
สมชาย รัก สมใจ
สมทรง รัก สมหญิง
สมทรง รัก สมชาย
สมทรง รัก สมหวัง
สมทรง รัก สมใจ
สมหวัง รัก สมหญิง
สมหวัง รัก สมชาย
สมหวัง รัก สมทรง
สมหวัง รัก สมใจ
สมใจ รัก สมหญิง
สมใจ รัก สมชาย
สมใจ รัก สมทรง
สมใจ รัก สมหวัง

In [26]:
for i in list_friend:
    for j in list_friend:
        if i == j:
            'do nothing'
        else:
            print(f'{i} รัก {j}')

สมหญิง รัก สมชาย
สมหญิง รัก สมทรง
สมหญิง รัก สมหวัง
สมหญิง รัก สมใจ
สมชาย รัก สมหญิง
สมชาย รัก สมทรง
สมชาย รัก สมหวัง
สมชาย รัก สมใจ
สมทรง รัก สมหญิง
สมทรง รัก สมชาย
สมทรง รัก สมหวัง
สมทรง รัก สมใจ
สมหวัง รัก สมหญิง
สมหวัง รัก สมชาย
สมหวัง รัก สมทรง
สมหวัง รัก สมใจ
สมใจ รัก สมหญิง
สมใจ รัก สมชาย
สมใจ รัก สมทรง
สมใจ รัก สมหวัง

HW4.

In [27]:
list_G = [1,50,65,90,101,-5,49]

In [28]:
   for i in list_G:
        if i >= 80 and i<=100:
           print('A')
        if i >= 75 and i < 80:
           print('B+')
        if i >= 70 and i < 75:
           print('B')
        if i >= 65 and i < 70:
           print('C+')
        if i >= 60 and i < 65:
           print('C')
        if i >= 55 and i < 60:
           print('D+')
        if i >= 50 and i < 55:
           print('D')
        if i < 50 and i >= 0:
           print('F')
        if i < 0:
           print('Error Lower')
        if i > 100:
           print('Error Upper')

F
D
C+
A
Error Upper
Error Lower
F