<a href="https://colab.research.google.com/github/thanadolch/data_viz/blob/main/panda101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/DVZ'

In [4]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
data_covid = pd.read_csv(covid_file_path)
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [5]:
data_covid.shape

(12423, 10)

In [6]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_onset, Length: 12423, dtype: object

In [7]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

iloc

In [8]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

## Table slicing

ตัดเฉพาะ column ที่ต้องการ

In [9]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]

In [10]:
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

### ตัดเฉพาะ row ที่ต้องการ

#### แบบง่าย แต่ใช้อะไรไม่ค่อยได้

In [11]:
data_covid.iloc[1:4,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[3 rows x 10 columns]

แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

In [12]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

data_covid[x] x สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ



1.   ชื่อ column
2.   ใส่ row ที่ต้องการ (ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่าเอาแถวไหนบ้างโดยใช้ logical expression (True/False))

In [13]:
eight = data_covid.iloc[:8,:]
eight

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [14]:
eight[[True,False,True,True,False,True,False,False]]

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [15]:
eight['province_of_onset'] =='กรุงเทพมหานคร'

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

```
HW6

1.ให้เราคำนวนอายุเฉลี่ยของผู้หญิงและผู้ชายของข้อมูลทั้งหมด

2.คำนวณอายุเฉลี่ยของผู้หญิงและผู้ชายของผู้ป่วยในจังหวัดขอนแก่น

```

#ข้อที่ 1. ให้เราคำนวนอายุเฉลี่ยของผู้หญิงและผู้ชายของข้อมูลทั้งหมด

In [16]:
sex_all = data_covid[['sex','age']]
girl = sex_all[sex_all['sex']=='หญิง']
list_G = girl[['age']]
poi = list_G.dropna()

In [17]:
ui = poi.values

In [18]:
poi.mean()

age    36.707883
dtype: float64

In [19]:
    answer = []
    for i in ui:
        data = float(i)
        answer.append(data)

In [20]:
sex_allB = data_covid[['sex','age']]
boy = sex_allB[sex_all['sex']=='ชาย']
list_B = boy[['age']]
pang = list_B.dropna()

In [21]:
man = pang.values

In [22]:
answerB = []
for i in man:
    data = float(i)
    answerB.append(data)

In [23]:
def mean(put):
    sum = 0
    for i in put:
        sum = sum + i
    mean_girl = sum/len(put)
    return mean_girl
    print(mean_girl)

In [24]:
print(f'อายุเฉลี่ยของผู้หญิงของข้อมูลทั้งหมด = {mean(answer)}')
print(f'อายุเฉลี่ยชองผู้ชายของข้อมูลทั้งหมด = {mean(answerB)}')

อายุเฉลี่ยของผู้หญิงของข้อมูลทั้งหมด = 36.70788295640009
อายุเฉลี่ยชองผู้ชายของข้อมูลทั้งหมด = 39.55682775996335

#ข้อที่ 2. คำนวณอายุเฉลี่ยของผู้หญิงและผู้ชายของผู้ป่วยในจังหวัดขอนแก่น

In [25]:
table = data_covid[data_covid['province_of_onset']=='ขอนแก่น']

In [26]:
table2 = table[['sex','age']]
table3 = table2[table2['sex']=='หญิง']
table4 = table3[['age']]
table4

        age
462    36.0
1970   70.0
2637   63.0
5948   32.0
6082   36.0
11697  17.0
11698  37.0

In [27]:
girl_khonkan = table4.values

In [28]:
kk_girl = []
for i in girl_khonkan:
    data = float(i)
    kk_girl.append(data)

In [29]:
table2 = table[['sex','age']]
tableB = table2[table2['sex']=='ชาย']
table_B = tableB[['age']]
table_B

        age
180    33.0
1466   19.0
2673   68.0
9333   17.0
9334   20.0
10610  17.0
11517  12.0

In [30]:
boy_khonkan = table_B.values

In [31]:
kk_boy = []
for i in boy_khonkan:
    data = float(i)
    kk_boy.append(data)

In [32]:
print(f'อายุเฉลี่ยของผู้หญิงจากข้อมูลผู้ป่วยในจังหวัดขอนแก่น = {mean(kk_girl)}')
print(f'อายุเฉลี่ยของผู้ชายจากข้อมูลผู้ป่วยในจังหวัดขอนแก่น = {mean(kk_boy)}')

อายุเฉลี่ยของผู้หญิงจากข้อมูลผู้ป่วยในจังหวัดขอนแก่น = 41.57142857142857
อายุเฉลี่ยของผู้ชายจากข้อมูลผู้ป่วยในจังหวัดขอนแก่น = 26.571428571428573

In [54]:
def me(province,sex,put):
    table1 = data_covid[data_covid['province_of_onset']==f'{province}']
    R_allB = table1[['sex','age']]
    RT = R_allB[R_allB['sex']==f'{sex}']
    list_BT = RT[['age']]
    pang1 = list_BT.dropna()
    man1 = pang1.values
    put = []
    for i in man1:
        data = float(i)
        put.append(data)    
    sum = 0
    for i in put:
        sum = sum + i
    mean_girl = sum/len(put)
    return mean_girl
    print(mean_girl)

การจัดการ Missing Value

- ลบ record ที่เป็น Missing
- แทนที่ค่า missing ด้วยค่าที่เหมาะสม...

###ลบ record (dropna)

missing = ```None```NA(not autozie)

In [56]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data.shape

(12423, 3)

In [57]:
print(this_data.shape)
print(this_data.dropna().shape )

(12423, 3)
(8253, 3)

In [59]:
this_data.dropna(inplace=True)
print(this_data.shape)

(8253, 3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [61]:
this_data.dropna(subset=['age']).shape

(8253, 3)

แทน missing ด้วยค่าที่เหมาะสม fillna()

In [62]:
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [65]:
this_data = data_covid[['sex','age','province_of_onset']]

In [66]:
print(f'จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')
print(f"จำนวน record หลัง drop missing ใน province {this_data.dropna(subset=['province_of_onset']).shape[0]}")

จำนวน record ก่อน drop missing ใน province 12423
จำนวน record หลัง drop missing ใน province 10432

In [69]:
this_data_update = this_data.fillna(value={'sex':'ไม่รู้','age':-1,'province_of_onset':'ไม่รู้'})

In [70]:
this_data_update[this_data_update['sex']=='ไม่รู้']

          sex  age province_of_onset
4391   ไม่รู้ -1.0         สมุทรสาคร
4392   ไม่รู้ -1.0         สมุทรสาคร
4393   ไม่รู้ -1.0         สมุทรสาคร
4394   ไม่รู้ -1.0         สมุทรสาคร
4395   ไม่รู้ -1.0         สมุทรสาคร
...       ...  ...               ...
12405  ไม่รู้ -1.0            ไม่รู้
12406  ไม่รู้ -1.0            ไม่รู้
12407  ไม่รู้ -1.0            ไม่รู้
12408  ไม่รู้ -1.0            ไม่รู้
12409  ไม่รู้ -1.0            ไม่รู้

[2497 rows x 3 columns]

การวนลูป record ในตาราง

In [76]:
for each_row in this_data.iterrows():
    if (each_row[1]['age']==20) and (each_row[1]['province_of_onset']=='ขอนแก่น'): 
        print(each_row)

(9334, sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)