<a href="https://colab.research.google.com/github/thanadolch/data_viz/blob/main/Untitled48.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import os
from datetime import datetime

In [2]:
path = '/content/search_request.csv'

In [5]:
search_request = pd.read_csv('search_request.csv')
search_request

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...            ...                                   ...  ...        ...         ...
113533      113535  35e36c28-f1cb-42b9-ad7d-1dc98db7bdb7  ...  12.807773  100.915149
113534      113536  899b5879-3e23-4f39-92e5-7faf39a0eb89  ...  13.692976  100.629619
113535      113537  b7d94d27-902d-4a2d-b1a7-0a2a511afcef  ...  15.797796  104.143682
113536      113538  82c0abc7-e44e-43d9-a00a-b076a5e41606  ...  13.729546  100.570023
113537      113539  56b14759-1a0f-4a39-a4a4-726b61d9f3b7  ...        NaN         NaN

[113538 rows x 10 columns]

In [67]:
search_request['search_timestamp'] = pd.to_datetime(search_request['search_timestamp'],format ='%d/%m/%Y %H:%M:%S')

In [68]:
search_request.iloc[0:1,2]

0   2018-06-14 12:34:35.449
Name: search_timestamp, dtype: datetime64[ns]

In [78]:
c = search_request[search_request['search_timestamp']<= '11:59:59.000']
c

        Unnamed: 0  ...                a
0                0  ...  12:34:35.449000
1                1  ...  17:11:19.469000
2                2  ...  13:22:31.736000
3                3  ...  12:37:27.331000
4                4  ...  11:19:22.404000
...            ...  ...              ...
113533      113535  ...  20:58:48.097000
113534      113536  ...  22:58:44.657000
113535      113537  ...  20:03:22.976000
113536      113538  ...  20:08:34.992000
113537      113539  ...  00:57:51.069000

[113538 rows x 11 columns]

In [76]:
a = search_request['search_timestamp'].dt.time

In [81]:
search_request['a'] = a
search_request

        Unnamed: 0  ...                a
0                0  ...  12:34:35.449000
1                1  ...  17:11:19.469000
2                2  ...  13:22:31.736000
3                3  ...  12:37:27.331000
4                4  ...  11:19:22.404000
...            ...  ...              ...
113533      113535  ...  20:58:48.097000
113534      113536  ...  22:58:44.657000
113535      113537  ...  20:03:22.976000
113536      113538  ...  20:08:34.992000
113537      113539  ...  00:57:51.069000

[113538 rows x 11 columns]

In [97]:
n = search_request[search_request['search_timestamp']<= '11:59:59.000']
n

        Unnamed: 0  ...                a
0                0  ...  12:34:35.449000
1                1  ...  17:11:19.469000
2                2  ...  13:22:31.736000
3                3  ...  12:37:27.331000
4                4  ...  11:19:22.404000
...            ...  ...              ...
113533      113535  ...  20:58:48.097000
113534      113536  ...  22:58:44.657000
113535      113537  ...  20:03:22.976000
113536      113538  ...  20:08:34.992000
113537      113539  ...  00:57:51.069000

[113538 rows x 11 columns]